@import "_variables/variables.scss";
@import "_mixins/mixins.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  overflow-x: hidden;
  .bg-body {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 63vh;
    top: 0;
    right: 0;
    background: $light-grayish-blue;
    border-bottom-left-radius: 4em;
    z-index: 10;
    @include mq($mq, md) {
      height: 25pc;
    }
    @include mq($mq, lg) {
      height: 25pc;
    }
  }
}

// Header
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  @include container;
  padding: 2.5em 0;
  z-index: 16;
  @include mq($mq, md){
    flex-direction: row;
    align-items: center;
  }
  &__nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    background: #fff;
    padding: 0.5em 1em;
    border-radius: 0.1875em * 1.5;
    box-shadow: rgba(153, 153, 153, 0.185) 2px 3px 3px;
    z-index: 19;
    @include mq($mq, md){
      display: flex;
      flex-direction: row;
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      background: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
    }
    &.active {
      display: flex;
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    color: $very-dark-blue;
    font-size: 1.15em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Condensed", "Roboto";
    text-transform: uppercase;
    &:last-of-type {
      color: $grayish-blue;
      border-top: $grayish-blue 1px solid;
    }
    @include mq($mq, md){
      padding: 0;
      margin-left: 2.5em * .75;
      font-size: 1em;
      &:last-of-type {
        border: none;
      }
    }
  }
  &__separator{
    font-family: 'Open Sans';
    font-size: 2.5em;
    font-weight: 600;
    color: $grayish-blue;
    margin-left: 1em * .75;
  }
  &__btn {
    position: relative;
    display: inline-block;
    height: 1em;
    width: auto;
    z-index: 19;
    @include mq($mq, md){
      display: none;
    }
    &.active {
      height: 1.24em;
    }
    .img {
      position: relative;
      display: inline-block;
      height: 100%;
      width: auto;
      z-index: 18;
    }
  }
}

// Main
.main {
  @include container;
  flex-direction: column;
  @include mq($mq, md) {
    flex-direction: row-reverse;
    align-items: center;
  }
  &__section {
    display: inline-block;
    margin-bottom: 5em;
  }
  &__img {
    position: relative;
    display: inline-block;
    top: auto;
    left: -1.75em;
    height: 270px;
    width: auto;
    z-index: 15;
    @include mq($mq, md) {
      position: absolute;
      top: 11em;
      left: auto;
      right: -13.75em;
      height: 25rem;
    }
    @include mq($mq, lg) {
      position: absolute;
      left: auto;
      right: -9.75rem;
      height: 400px;
    }
  }
  &__info{
    @include mq($mq, md) {
      width: 45%;
      margin-top: 6em;
    }
  }
  &__alert {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__badge {
    display: inline-block;
    background: $very-dark-blue;
    padding: 0.25em 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-radius: 1em;
    margin-right: 1em;
  }
  &__badge__alt {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    color: $grayish-blue;
  }
  &__title {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 700;
    margin-top: 0.5em;
    @include mq($mq, md) {
      font-size: 2.25em;
    }
  }
  &__text {
    color: $dark-grayish-blue;
    @include mq($mq, md) {
      width: 80%;
    }
  }
  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include mq($mq, md) {
      margin: 3em 0;
    }
  }
  &__btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    font-family: "Roboto Condensed";
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 1em;
    background: $red;
    border-radius: 0.5rem;
    &:last-of-type {
      background: none;
      color: $grayish-blue;
    }
  }
}
