@import "_variables/variables.scss";
@import "_mixins/mixins.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  overflow-x: hidden;
  .bg-body {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 63vh;
    top: 0;
    right: 0;
    background: $light-grayish-blue;
    border-bottom-left-radius: 4em;
    z-index: 10;
  }
}

// Header
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  @include container;
  padding: 2.5em 0;
  z-index: 16;
  &__nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    background: #fff;
    padding: 0.5em 1em;
    border-radius: 0.1875em * 1.5;
    box-shadow: rgba(153, 153, 153, 0.185) 2px 3px 3px;
    z-index: 19;
    &.active {
      display: flex;
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    color: $very-dark-blue;
    font-size: 1.15em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Condensed", "Roboto";
    text-transform: uppercase;
    &:last-of-type {
      color: $grayish-blue;
      border-top: $grayish-blue 1px solid;
    }
  }
  &__btn {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 100%;
    z-index: 19;
    .img {
      position: relative;
      display: inline-block;
      height: auto;
      width: 100%;
      z-index: 18;
    }
  }
}

// Main
.main {
  @include container;
  flex-direction: column;
  &__section {
    display: inline-block;
    margin-bottom: 5em;
  }
  &__img {
    position: relative;
    display: inline-block;
    top: auto;
    left: -1.75em;
    height: 270px;
    width: auto;
    z-index: 15;
  }
  &__alert {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__badge {
    display: inline-block;
    background: $very-dark-blue;
    padding: 0.25em 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-radius: 1em;
    margin-right: 1em;
  }
  &__badge__alt {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    color: $grayish-blue;
  }
  &__title {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 700;
    margin-top: 0.5em;
  }
  &__text {
    color: $dark-grayish-blue;
  }
  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    font-family: "Roboto Condensed";
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 1em;
    background: $red;
    border-radius: 0.5rem;
    &:last-of-type {
      background: none;
      color: $grayish-blue;
    }
  }
}
